body{
    margin:0;
    text-align:center;
    display: flex;
    flex-direction:column;
    font-family: "merriweather", arial, helvetica, sans-serif;
    background-color:#EEEEEE;
}


header{
    background-color:black;
}
footer{
    background-color:black;
    text-align:center;
    padding-bottom: 20px;
    padding-top:10px

}

p{
    font-family: 'Times New Roman', Times, serif;
    font-size:large;
}
h1{
    
}
h2{
    font-family: "Montserrat"; 
}

hr{
    
    border: none;
    border-top: dotted ;
    border-width: 7px;
    width: 6%;
    border-color:#D3D5FD;
    padding-bottom: 30px
    
}

main{
    display: flex;
    flex-direction: row;
    overflow: unset;
}


a{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}



.icon{
    width:4rem;
    margin: 2rem;
}
.icon:hover{
    transform:scale(1.5);
    transition: 1s;
    
}

.heading-text{
    color:#EEEEEE;
    text-align: center;
    padding-bottom: 20px;
    
}


.skills{
list-style-type: none;
}
#headshot1{
    display: block;
    margin-left:auto;
    margin-right: auto;
    width:200px;
}

#headshot{
    display: block;
    border-radius: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 150px
}
#contact{
    color: #EEEEEE;
    
}
#sidebar{
    background-color:#DBD8E3;
    padding:30px;
}

#heading{
    padding-top: 50px;
    padding-bottom: 30px;

}
#language-logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  
#logo-html{
    padding-top: 50px;
    width:4rem;
    margin-left: auto;
    margin-right: auto;
}
#logo-css{
    padding-top: 50px;
    width:3rem;
    margin-left: auto;
    margin-right: auto;
}
#education-logo{
    width:4rem;
    padding-top: 30px;
}
#work-logo{
    width:3rem;
    padding-top: 30px;
}
#skills-logo{
    width: 4rem;
    padding-top: 30px;
}
