body{
    margin:0;
    text-align:center;
}


header{
    background-color:black;
}
footer{
    background-color:black;
    text-align:center;
    padding-bottom: 20px;
    padding-top:10px

}

p{
    font-family: 'Times New Roman', Times, serif;
    font-size:large;
}
h1{
    font-family:serif;
}
.instagram-icon{
    width:80px
}

.email-icon{
    width:65px
}

.heading-text{
    color: rgb(199, 199, 197);
    text-align: center;
    padding-bottom: 20px;
}
.Nav-menu{
    list-style-type: none;
}

.skills{
list-style-type: none;
}
#headshot{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px
}
#contact{
    color: rgb(199, 199, 197);
    
}
#sidebar{
    background-color:rgb(151, 149, 149)
}